body{
    background-image: url(amar.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(176,229,208,1) 42%, rgba(92,202,238,0.41) 93.6% );
}
p{
    text-decoration-color:orangered;
}
